<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>openFrameworks</string>
	<key>CFBundleName</key>
	<string>openFrameworks</string>
	<key>DashDocSetFallbackURL</key>
	<string>http://openframeworks.cc</string>
	<key>DashDocSetFamily</key>
	<string>dashtoc</string>
	<key>DashDocSetKeyword</key>
	<string>openFrameworks</string>
	<key>DashDocSetPluginKeyword</key>
	<string>openFrameworks</string>
	<key>DashWebSearchKeyword</key>
	<string>openFrameworks</string>
	<key>DocSetPlatformFamily</key>
	<string>openFrameworks</string>
	<key>dashIndexFilePath</key>
	<string>index.html</string>
	<key>isDashDocset</key>
	<true/>
	<key>isJavaScriptEnabled</key>
	<false/>
</dict>
</plist>
