body{
  font-size: 1em !important;
  color: black !important;
  font-family: sans-serif !important;
  padding: 20px !important;
}

th{
  color: black !important;
}

footer{
  display: none !important;
}

table{
  font-size: 1em;
}

html{box-sizing:border-box}*,*::after,*::before{box-sizing:inherit}h1{font-weight:bold;
x-font-family:sans-serif;
color:#00AEEF}h2{font-weight:bold;
x-font-family:sans-serif}h3{font-weight:bold;
x-font-family:sans-serif}a{text-decoration:none;
color:#00AEEF}a:hover{text-decoration:underline}body{padding:0;
margin:0;
width:100%;
height:100%;
font-weight:300;
x-font-family:sans-serif;
overflow-y:scroll}code{x-font-family:fixed-width}.hidden{display:none !important}.horizontal-separator{width:80%;
height:0;
border-top:1px solid #00AEEF;
font-size:0;
margin:0 auto 20px auto}::-moz-selection{background-color:#00AEEF;
color:#dcdcdc}::selection{background-color:#00AEEF;
color:#dcdcdc}.no-text-selection{-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none}#wrapper{background-color:white;
margin-bottom:40px}

p{max-width:100%;
word-wrap:break-word;
margin-bottom: 1.5em !important;
}

.iframeContainer{margin:auto;
width:50%;
min-width:450px;
height:450px;
display:none}.iframeContainer iframe{min-width:450px;
max-height:450px;
height:100%}.fa-eye{cursor:pointer}.fa-eye:hover{color:#00AEEF;
text-decoration:underline}.v-align{position:relative;
top:50%;
-webkit-transform:translateY(-50%);
-moz-transform:translateY(-50%);
-ms-transform:translateY(-50%);
-o-transform:translateY(-50%);
transform:translateY(-50%)}.nav-main{width:100%;
height:50px;
x-font-family:sans-serif;
background-color:#dcdcdc}.nav-main #mobilemenu{display:none;
position:absolute;
z-index:2;
color:white;
font-size:1.4em;
left:5px;
padding:12px}.nav-main #mobilemenu:hover{cursor:pointer}.nav-main #goBackToClassList{display:none;
position:absolute;
z-index:2;
color:white;
font-size:1.4em;
left:45px;
padding:12px}.nav-main #goBackToClassList:hover{cursor:pointer}.nav-main .banner{display:-webkit-box;
display:-moz-box;
display:box;
display:-webkit-flex;
display:-moz-flex;
display:-ms-flexbox;
display:flex;
width:100%;
background-color:#222c37;
height:50px}.nav-main .banner .menu{display:-webkit-box;
display:-moz-box;
display:box;
display:-webkit-flex;
display:-moz-flex;
display:-ms-flexbox;
display:flex;
width:80%;
height:50px;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none}.nav-main .banner .menu>div{height:50px;
line-height:50px;
font-size:1em;
padding:0 5px 0 5px;
text-align:center}.nav-main .banner .menu>div.active{background-color:#18222d}.nav-main .banner .menu>div:hover:not(.do-not-hover){background-color:#18222d;
-webkit-transition:all 0.2s ease-in;
-moz-transition:all 0.2s ease-in;
transition:all 0.2s ease-in}.nav-main .banner .menu a{color:white;
display:inline-block;
width:100%}.nav-main .banner .menu a:hover{text-decoration:none}.nav-main .banner .menu>div:first-child{color:white;
cursor:pointer;
width:100px}.nav-main .banner .menu .item{width:130px;
text-transform:uppercase;
font-size:0.9em;
cursor:pointer}.nav-main .banner .menu .item a{text-decoration:none;
color:white;
display:inline-block;
width:100%;
text-align:center}.nav-main .banner .more{display:-webkit-box;
display:-moz-box;
display:box;
display:-webkit-flex;
display:-moz-flex;
display:-ms-flexbox;
display:flex;
-webkit-box-pack:end;
-moz-box-pack:end;
box-pack:end;
-webkit-justify-content:flex-end;
-moz-justify-content:flex-end;
-ms-justify-content:flex-end;
-o-justify-content:flex-end;
justify-content:flex-end;
-ms-flex-pack:end;
-webkit-box-align:center;
-moz-box-align:center;
box-align:center;
-webkit-align-items:center;
-moz-align-items:center;
-ms-align-items:center;
-o-align-items:center;
align-items:center;
-ms-flex-align:center;
width:20%;
height:50px}.nav-main .banner .more .searchbar{height:50px;
background-color:white;
width:250px;
margin:0px 0px 0px 5px;
display:-webkit-box;
display:-moz-box;
display:box;
display:-webkit-flex;
display:-moz-flex;
display:-ms-flexbox;
display:flex;
-webkit-box-align:center;
-moz-box-align:center;
box-align:center;
-webkit-align-items:center;
-moz-align-items:center;
-ms-align-items:center;
-o-align-items:center;
align-items:center;
-ms-flex-align:center}.nav-main .banner .more .searchbar input{margin-left:10px;
height:30px;
width:200px;
border:none;
background-color:transparent}.nav-main .banner .more .searchbar input:focus{border:none;
outline:0}.nav-main .banner .more .searchbar input:invalid{border:solid 3px black}.nav-main .banner .more .searchbar button{font-size:1.3em;
background:transparent;
border:none;
cursor:pointer}.nav-main .banner .more .forward{cursor:pointer;
display:-webkit-box;
display:-moz-box;
display:box;
display:-webkit-flex;
display:-moz-flex;
display:-ms-flexbox;
display:flex;
-webkit-box-align:center;
-moz-box-align:center;
box-align:center;
-webkit-align-items:center;
-moz-align-items:center;
-ms-align-items:center;
-o-align-items:center;
align-items:center;
-ms-flex-align:center;
-webkit-box-pack:justify;
-moz-box-pack:justify;
box-pack:justify;
-webkit-justify-content:space-between;
-moz-justify-content:space-between;
-ms-justify-content:space-between;
-o-justify-content:space-between;
justify-content:space-between;
-ms-flex-pack:justify;
padding:0 15px 0 15px}.nav-main .banner .more .forward a{color:black}.nav-main .banner .more .forward i{margin-left:15px;
color:white}.footer{position:fixed;
bottom:0;
left:0;
width:100%;
height:40px;
z-index:2;
background-color:#dcdcdc;
font-size:0.8em;
display:flex;
flex-flow:row;
justify-content:center;
align-content:center}.footer .footer-item{float:left;
display:block;
margin-right:2.3576515979%;
width:48.821174201%;
height:40px !important;
vertical-align:middle;
text-align:center;
width:auto}.footer .footer-item:last-child{margin-right:0}.footer .footer-item a{color:#333;
padding:12px;
display:inline-block;
height:40px !important}.footer .footer-item a:visited{color:#333}.footer .footer-item a:hover{color:white}.footer .footer-item:hover{-webkit-transition:all 0.2s ease-in;
-moz-transition:all 0.2s ease-in;
transition:all 0.2s ease-in;
background-color:#00AEEF}#versionsList{width:100%;
margin:10px 0px 25px 0px;
text-align:center}#versionsList .selectedVersion{font-size:1.4em;
color:#00AEEF;
margin:5px 10px;
font-weight:400}#versionsList a{margin:0 5px}#classes_classesListByTag{max-width:80%;
margin-left:auto;
margin-right:auto}#classes_classesListByTag::after{clear:both;
content:"";
display:table}#classes_classesListByTag .category{width:100%;
margin:5px 0px;
padding:0px;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none}#classes_classesListByTag .category .categoryTitle{padding:3px;
height:auto;
cursor:pointer;
border:white solid 1px}#classes_classesListByTag .category .categoryTitle:hover{border:#C1C1C1 solid 1px}#classes_classesListByTag .category .categoryTitle h3{background-color:#00AEEF;
color:#ffffff;
padding:5px;
margin:0px}#classes_classesListByTag .category .categoryList{width:100%;
padding:8px 40px;
display:none}#classes_classesListByTag .category .categoryList li{font-size:1.4em;
list-style-type:square;
color:#DCDCDC}#classes_classesListByTag .category .categoryList li a{font-size:0.75em;
color:#000000}#classes_classesListByTag .category .categoryList li a:hover{text-decoration:underline;
color:#00AEEF}#alphaFilter,#tagFilter{width:90%;
margin:10px auto;
text-align:center}#alphaFilter input,#tagFilter input{text-align:center}#classes_classesListByAlpha{max-width:80%;
margin-left:auto;
margin-right:auto;
-webkit-column-count:4;
-moz-column-count:4;
column-count:4}#classes_classesListByAlpha::after{clear:both;
content:"";
display:table}#classes_classesListByAlpha a{color:#333;
text-decoration:none;
display:inline-block;
padding:3px;
margin:5px 4px;
width:100%}#classes_classesListByAlpha a:hover{text-decoration:underline;
color:white;
background-color:#00AEEF}.sorts{width:100%;
text-align:center}.sorts .order{display:inline-block;
background-color:#9B9B9B;
text-align:center;
margin:4px 4px 15px 4px;
padding:4px;
font-size:0.8em;
color:white;
border-radius:3px;
cursor:pointer}.sorts .selectedOrder{background-color:#00AEEF}.classBarResize{position:absolute;
left:300px;
top:50px;
bottom:40px;
cursor:col-resize;
width:3px;
z-index:3;
border-left:1px solid #9b9b9b}.classBar{position:absolute;
top:50px;
bottom:40px;
left:0;
background-color:#f9f9f9;
width:300px;
margin:0;
overflow-x:hidden;
overflow-y:auto;
z-index:2;
color:#333}.classBar #classes_classesListByAlpha{width:100%;
margin-left:30px}.classBar .classesTitle{text-align:center;
width:100%;
color:#eee;
background-color:#333;
padding:10px;
margin-bottom:10px}.classBar .class{font-size:1.0em;
padding:5px 0 5px 10px;
color:#333;
display:block}.classBar .class:hover{background-color:#9b9b9b;
color:white}

.classContent #classTitle{max-width:100%;
margin-left:auto;
margin-right:auto;
border-bottom:solid 1px #00AEEF}.classContent #classTitle::after{clear:both;
content:"";
display:table}.classContent #classTitle h1{float:left;
display:block;
margin-right:2.3576515979%;
width:48.821174201%;
padding-bottom:2px;
margin-bottom:15px;
font-size:1.7em;
margin-top:5px}.classContent #classTitle h1:last-child{margin-right:0}.classContent #classTitle #selectList{float:left;
display:block;
margin-right:2.3576515979%;
width:48.821174201%;
text-align:right;
margin-top:5px;
height:34px;
overflow:hidden}.classContent #classTitle #selectList:last-child{margin-right:0}.classContent #classTitle #selectList #methodsList{width:100%;
font-size:1.2em;
height:34px}.classContent #classTitle #selectList #methodsList option{padding:8px}.classContent #classTitle #selectList #methodsList .cat{padding:8px 5px;
background-color:#2D2D2D;
color:#f5f5f5;
font-weight:300}.classContent #classTags{margin-top:10px}.classContent #classTags .classTag{font-size:0.8em;
color:white;
margin:5px;
background-color:#00AEEF;
border-radius:3px;
padding:5px}.classContent #classTags .classTag:hover{text-decoration:none}.classContent #classMd hr{visibility:hidden}.classContent #classMd h2{margin-top:42px;
padding-bottom:2px;
border-bottom:3px solid #DCDCDC;
color:white;
background-color:#333333;
font-weight:300;
margin-left:5px}.classContent #classMd h2:hover{cursor:pointer}.classContent #classMd .classHeader,.classContent #classMd #description,.classContent #classMd #constructor,.classContent #classMd #members,.classContent #classMd #methods{position:relative}.classContent #classMd .classHeader.folded:after,.classContent #classMd .folded#description:after,.classContent #classMd .folded#constructor:after,.classContent #classMd .folded#members:after,.classContent #classMd .folded#methods:after{position:absolute;
right:50px;
top:50%;
transform:translateY(-50%);
x-font-family:"FontAwesome";
content:"\f107";
color:white}.classContent #classMd .classHeader.collapsed:after,.classContent #classMd .collapsed#description:after,.classContent #classMd .collapsed#constructor:after,.classContent #classMd .collapsed#members:after,.classContent #classMd .collapsed#methods:after{position:absolute;
right:50px;
top:50%;
transform:translateY(-50%);
x-font-family:"FontAwesome";
content:"\f106";
color:white}.classContent #classMd #constructor+h2{background-color:white;
color:black}.classContent #classMd h2 a,.classContent #classMd h3 a{margin:0px 5px;
font-weight:normal}.classContent #classMd h2 a.permalink.invisible,.classContent #classMd h3 a.permalink.invisible{visibility:hidden}.classContent #classMd h3{font-weight:600;
border-bottom:1px solid #ccc;
margin:45px 0px 10px 0;
padding:8px 0 8px 0;
background-color:#f8f8f8}.classContent #classMd h3 .parameterName{font-style:bold}.classContent #classMd h3 .parameterType{font-style:italic;
font-weight:300}.classContent #classMd h4{margin-left:26px;
font-weight:600}.classContent #classMd table{max-width:100%;
overflow-x:scroll;
text-align:left;
margin:10px 0 40px 26px}.classContent #classMd table thead tr{background-color:#333333;
color:white}.classContent #classMd table thead tr th{padding:6px 11px;
border:2px solid #868686;
font-weight:300}.classContent #classMd table tbody tr td{padding:6px 11px;
border:2px solid #868686}.classContent #classMd table tbody tr:nth-child(2n){background-color:#F8F8F8}.classContent #classMd p{font-size:0.95em;
margin:2px 15px 0 15px}#classes_classesListByTag.sidemenu{width:100%}#classes_classesListByAlpha.sideClassesListByAlpha{-webkit-column-count:1;
-moz-column-count:1;
column-count:1}#classes_classesListByAlpha.sideClassesListByAlpha a{margin:2px 65px 2px 0px}#classes_classesListByAlpha.sideClassesListByAlpha .selected{background-color:#00AEEF;
color:whitesmoke}.highlighted{background-color:#f8eec7}.bigimage{width:80%;
max-width:400px;
margin:20px auto;
margin-top:100px}.bigimage img{width:100%}.presentation-header{max-width:100%;
margin-left:auto;
margin-right:auto}.presentation-header::after{clear:both;
content:"";
display:table}.presentation-header .presentation-img{width:100%;
height:1px;
background-color:#dcdcdc}.presentation-header .bjs-moto{text-align:center;
font-size:1em;
font-weight:normal}.selection-toggle{background-color:#dcdcdc !important}.toggle-selected{background-color:#18222d !important}.bjs-components{max-width:80%;
margin-left:auto;
margin-right:auto}.bjs-components::after{clear:both;
content:"";
display:table}.bjs-components .bjs-component{float:left;
display:block;
margin-right:2.3576515979%;
width:31.7615656014%;
padding:0px 50px}.bjs-components .bjs-component:last-child{margin-right:0}.bjs-components .bjs-component h1{text-align:center}.bjs-components .bjs-component p{text-align:justify}.bjs-demo{width:100%}.bjs-demo h1{text-align:center}.bjs-demo #demo-item{cursor:pointer;
position:relative;
width:400px;
height:250px;
text-align:center;
max-width:100%;
margin:10px auto}.bjs-demo #demo-item .demo-img{max-width:100%}.getting-started{max-width:80%;
margin-left:auto;
margin-right:auto}.getting-started::after{clear:both;
content:"";
display:table}.getting-started h1{text-align:center}.hljs{background:#f0f0f0;
border-left:5px solid #00AEEF;
padding-left:15px}.whats-new-banner{background-image:url("/img/pattern_ban_1.png");
background-repeat:repeat;
text-align:center;
padding:10px 0}#whats-new{max-width:80%;
margin-left:auto;
margin-right:auto;
line-height:25px}#whats-new::after{clear:both;
content:"";
display:table}#whats-new ul{list-style-type:none}#whats-new ul li ul li{list-style-type:square}@media screen and (max-width: 960px){#whats-new{max-width:90%;
margin-left:auto;
margin-right:auto;
word-wrap:break-word}#whats-new::after{clear:both;
content:"";
display:table}#whats-new ul{padding:0 10px 0 10px;
margin:0}.whats-new-banner{padding-top:50px}}.statics-banner{background-image:url("/img/pattern_ban_1.png");
background-repeat:repeat;
text-align:center;
padding:10px 0}.statics-banner h1:first-letter{text-transform:uppercase}.statics-content{max-width:80%;
margin-left:auto;
margin-right:auto}.statics-content::after{clear:both;
content:"";
display:table}.statics-content .tagList{position:relative;
width:80%;
margin:auto;
display:flex;
flex-wrap:wrap;
justify-content:center;
align-items:stretch;
align-content:stretch}.statics-content .tagList .tagWrapper{margin:5px;
margin-top:10px;
display:flex;
flex-wrap:wrap;
justify-content:center;
background-color:transparent}.statics-content .tagList .tagWrapper .tag{cursor:pointer;
border:0px;
padding:5px;
border-radius:3px;
background-color:darkgray}.statics-content .tagList .tagWrapper .tag .tagImage{display:block;
margin:0 auto;
max-height:65%;
width:100%}.statics-content .tagList .tagWrapper .tag .tagImage img{width:100%}.statics-content .tagList .tagWrapper .tag .tagDescriptionWrapper{color:whitesmoke;
background-color:transparent}.statics-content .tagList .tagWrapper .tag .tagDescriptionWrapper .tagTitle{x-font-family:sans-serif;
font-weight:300;
font-size:0.8em;
margin:0}.statics-content .tagList .tagWrapper .active{background-color:#00AEEF}.statics-content .fileList{max-width:70%;
margin-left:auto;
margin-right:auto;
counter-reset:files}.statics-content .fileList::after{clear:both;
content:"";
display:table}.statics-content .fileList .emptyList{text-align:center}.statics-content .fileList .fileTitle{padding:0px 10px;
margin:3px 0;
background:#ebebeb;
width:100%;
cursor:pointer;
display:inline-flex;
align-items:center;
transition:0.2s;
border-left:4px solid #505050}.statics-content .fileList .fileTitle:hover{background:#dcdcdc}.statics-content .fileList .fileTitle .fileNumber{color:#505050;
margin-right:15px;
font-weight:bold}.statics-content .fileList .fileTitle .fileNumber:before{counter-increment:files;
content:counter(files)}.statics-content .fileList .fileTitle a{color:#333;
text-decoration:none;
padding:10px;
flex:auto}.statics-content .fileList .fileTitle a .inline-tags{margin:0;
padding:0;
right:24px;
display:inline-block;
float:right;
clear:right}.statics-content .fileList .fileTitle a .inline-tags .inline-tag{display:inline-block;
position:relative;
margin-left:8px;
padding:0px 4px;
color:#969696;
text-decoration:none;
border-radius:4px}.statics-content .fileList .fileTitle a:hover .tag{background-color:whitesmoke;
color:#00AEEF}.statics-content .fileList .fileTitle h3:hover{background-color:#00AEEF;
color:#dcdcdc;
text-decoration:underline}.statics-content .fileList .\30 1_Play_Pen,.statics-content .fileList .PGsupport,.statics-content .fileList .Editor,.statics-content .fileList .introduction,.statics-content .fileList .environment,.statics-content .fileList .Videos{border-left:4px solid #8aab35}.statics-content .fileList .\30 1_Play_Pen .fileNumber,.statics-content .fileList .PGsupport .fileNumber,.statics-content .fileList .Editor .fileNumber,.statics-content .fileList .introduction .fileNumber,.statics-content .fileList .environment .fileNumber,.statics-content .fileList .Videos .fileNumber{color:#8aab35}.statics-content .fileList .scene,.statics-content .fileList .Exporter,.statics-content .fileList .ProceduralTexturesLibrary,.statics-content .fileList .gamelets,.statics-content .fileList .aspect,.statics-content .fileList .shaders{border-left:4px solid #fcaa35}.statics-content .fileList .scene .fileNumber,.statics-content .fileList .Exporter .fileNumber,.statics-content .fileList .ProceduralTexturesLibrary .fileNumber,.statics-content .fileList .gamelets .fileNumber,.statics-content .fileList .aspect .fileNumber,.statics-content .fileList .shaders .fileNumber{color:#fcaa35}.statics-content .fileList .mesh,.statics-content .fileList .Manual,.statics-content .fileList .PostProcessLibrary,.statics-content .fileList .snippets,.statics-content .fileList .support,.statics-content .fileList .events{border-left:4px solid #e74b3b}.statics-content .fileList .mesh .fileNumber,.statics-content .fileList .Manual .fileNumber,.statics-content .fileList .PostProcessLibrary .fileNumber,.statics-content .fileList .snippets .fileNumber,.statics-content .fileList .support .fileNumber,.statics-content .fileList .events .fileNumber{color:#e74b3b}.statics-content .fileList .material,.statics-content .fileList .Reference,.statics-content .fileList .Tree_Generators,.statics-content .fileList .Physics{border-left:4px solid #E74C3C}.statics-content .fileList .material .fileNumber,.statics-content .fileList .Reference .fileNumber,.statics-content .fileList .Tree_Generators .fileNumber,.statics-content .fileList .Physics .fileNumber{color:#E74C3C}.statics-content .fileList .camera,.statics-content .fileList .ClonerSystem,.statics-content .fileList .Post_Process{border-left:4px solid #7a4fc1}.statics-content .fileList .camera .fileNumber,.statics-content .fileList .ClonerSystem .fileNumber,.statics-content .fileList .Post_Process .fileNumber{color:#7a4fc1}.statics-content .fileList .light,.statics-content .fileList .Post_Process{border-left:4px solid #d85135}.statics-content .fileList .light .fileNumber,.statics-content .fileList .Post_Process .fileNumber{color:#d85135}.statics-content .fileList .audio,.statics-content .fileList .GUI,.statics-content .fileList .CastorGUI{border-left:4px solid #c56db8}.statics-content .fileList .audio .fileNumber,.statics-content .fileList .GUI .fileNumber,.statics-content .fileList .CastorGUI .fileNumber{color:#c56db8}.statics-content .fileList .animation,.statics-content .fileList .MaterialsLibrary,.statics-content .fileList .contribute{border-left:4px solid #6db02a}.statics-content .fileList .animation .fileNumber,.statics-content .fileList .MaterialsLibrary .fileNumber,.statics-content .fileList .contribute .fileNumber{color:#6db02a}.static-content{max-width:80%;
margin-left:auto;
margin-right:auto}.static-content::after{clear:both;
content:"";
display:table}.static-content img{max-width:100%}.static-content iframe{width:100%}.static-content table{width:60%;
text-align:left;
margin-left:0px}.static-content table thead tr{background-color:#F1F1F1}.static-content table thead tr th{padding:3px 11px;
border:2px solid #DCDCDC}.static-content table tr{height:35px}.static-content table td{padding:3px 11px;
border:2px solid #DCDCDC}.static-content table tr:nth-child(even){background-color:#F8F8F8}.static-content .beforeWideTable+table{width:100% !important}.static-content .contentTable{background-color:whitesmoke;
padding:1px 0}.static-content .contentTable .tocHeader{padding:10px}.static-content .contentTable .tocHeader .tocTitle .tocIcon{margin:0px 10px}.static-content .contentTable .tocHeader .tocToggle{cursor:pointer}.static-content .contentTable .tocHeader .tocToggle i{padding:10px;
margin-top:-10px;
float:right}.static-content .contentTable .tocContent ul{list-style-type:decimal}.static-content .contentTable .tocContent ul li{padding:5px 0}.search-content{max-width:80%;
margin-left:auto;
margin-right:auto;
padding-bottom:30px}.search-content::after{clear:both;
content:"";
display:table}.search-content .searchHeader{border-bottom:2px solid rgba(0,0,0,0.08);
text-align:center;
margin-bottom:30px}.search-content .searchHeader h2{margin:0;
padding:20px 0}.search-content .errorMessage{font-style:italic;
text-align:center}.search-content .pageChangeWrapper{display:flex;
flex-flow:row wrap;
justify-content:space-around}.search-content .pageChangeWrapper .pageChangeLink{border:1px solid #00AEEF;
padding:3px 7px;
border-radius:3px}.search-content .pageChangeWrapper .pageChangeLink:hover{color:whitesmoke;
background-color:#00AEEF;
text-decoration:none}.search-content .filters{margin-top:10px;
display:flex;
flex-wrap:wrap;
justify-content:center}.search-content .filters .basicFilter{cursor:pointer;
padding:3px 7px;
border-radius:3px;
font-size:0.9em;
margin:5px}.search-content .filters .basicFilter.enabled{background-color:#00AEEF;
color:whitesmoke}.search-content .filters .basicFilter.disabled{background-color:darkgrey;
color:whitesmoke}.search-content .result{margin:15px 0}.search-content .result .resultTitle{font-size:1.1em;
margin:0}.searchplayground-content{max-width:80%;
margin-left:auto;
margin-right:auto;
padding-bottom:30px}.searchplayground-content::after{clear:both;
content:"";
display:table}.searchplayground-content #intro{text-align:center;
margin:8px}.searchplayground-content #lastSearch{text-align:center;
margin:8px}.searchplayground-content .searchplaygroundbar{width:33%;
text-align:center;
display:inline-table;
margin-bottom:-30px}.searchplayground-content .searchplaygroundbar form{width:250px;
height:30px;
background-color:white;
border-radius:20px;
margin:30px auto}.searchplayground-content .searchplaygroundbar form input{margin-left:10px;
height:34px;
width:200px;
border-radius:20px;
border:solid 1px #dcdcdc;
background-color:transparent;
padding:8px}.searchplayground-content .searchplaygroundbar form input:focus{border:solid 1px #dcdcdc;
outline:0}.searchplayground-content .searchplaygroundbar form button{font-size:1.3em;
background:transparent;
border:none;
cursor:pointer}.searchplayground-content .searchHeader{border-bottom:2px solid rgba(0,0,0,0.08);
text-align:center;
margin-bottom:30px}.searchplayground-content .searchHeader h2{margin:0;
padding:20px 0}.searchplayground-content .pageChangeWrapper{display:flex;
flex-flow:row wrap;
justify-content:space-around}.searchplayground-content .pageChangeWrapper .pageChangeLink{border:1px solid #00AEEF;
padding:3px 7px;
border-radius:3px}.searchplayground-content .pageChangeWrapper .pageChangeLink:hover{color:whitesmoke;
background-color:#00AEEF;
text-decoration:none}.searchplayground-content .filters{margin-top:10px;
display:flex;
flex-wrap:wrap;
justify-content:center}.searchplayground-content .filters .basicFilter{cursor:pointer;
padding:3px 7px;
border-radius:3px;
font-size:0.9em;
margin:5px}.searchplayground-content .filters .basicFilter.enabled{background-color:#00AEEF;
color:whitesmoke}.searchplayground-content .filters .basicFilter.disabled{background-color:darkgrey;
color:whitesmoke}.searchplayground-content .result{padding:10px 5px;
margin:3px 0;
background:#ebebeb;
width:100%;
cursor:pointer;
display:inline-flex;
align-items:center;
transition:0.2s;
border-left:4px solid #00AEEF}.searchplayground-content .result.cyos{border-left:4px solid #E74C3C}.searchplayground-content .result .resultCore{font-weight:300;
x-font-family:sans-serif;
font-size:1.1em;
margin:0;
color:black;
width:100%;
padding-left:10px}.searchplayground-content .result .resultCore .resultCode{position:relative;
display:inline-block;
clear:right;
color:#9b9b9b;
width:80%}.searchplayground-content .result .resultCore .resultDesc{margin-top:1em;
margin-bottom:0.5em}.searchplayground-content .result .resultCore .resultHidden{display:none}.searchplayground-content .result .resultCore .resultLink{display:block}.searchplayground-content .result .resultCore .resultLink .colorLink{background-color:#009bd6;
border-radius:3px;
padding:5px;
color:white}.searchplayground-content .result .resultCore .resultQuery{background-color:yellow}.searchplayground-content .result .resultCore .resultShow{display:block;
margin-top:20px}.searchplayground-content .result .resultCore .resultTag{display:inline-block;
font-size:0.8em;
color:white;
margin-left:10px;
margin-right:10px;
background-color:#00AEEF;
border-radius:3px;
padding:5px}.searchplayground-content .result .resultCore .resultTag a{color:white}.searchplayground-content .result .resultCore .resultTag:hover{text-decoration:none}.searchplayground-content .result .resultCore .resultTags{display:inline-block;
margin-left:15%}.searchplayground-content .result .resultCore .resultTitle{display:inline-block;
x-font-family:sans-serif;
font-weight:500;
width:25%}.searchplayground-content .result .resultCore .version{display:inline-block;
position:relative;
padding-left:8px;
right:24px;
float:right;
clear:right;
color:black}.searchplayground-content .result .resultCore .arrowSlide{margin-left:10px}.searchplayground-content .result .resultCore .show{display:block}.searchplayground-content .result .dropbtn{background-color:#ebebeb;
color:black;
border:none;
cursor:pointer;
height:35px;
border-radius:3px;
margin-right:50px}.searchplayground-content .result .dropbtn:hover,.searchplayground-content .result .dropbtn:focus{background-color:#dedede}.searchplayground-content .result .dropdown{position:relative;
display:inline-block}.searchplayground-content .result .dropdown-content{display:none;
position:absolute;
background-color:#f9f9f9;
overflow:auto;
box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
z-index:1}.searchplayground-content .result .dropdown-content a{color:black;
padding:12px 16px;
text-decoration:none;
display:block}.searchplayground-content .result .dropdown a:hover{background-color:#f1f1f1}#wrapper.error{background-color:white;
text-align:center;
height:100%;
cursor:pointer}#wrapper.error .error_message{color:#00AEEF;
font-size:18.1em;
margin:0;
x-font-family:sans-serif}#wrapper.error .errorBaseline{margin-bottom:50px;
font-size:1.7em;
x-font-family:sans-serif}#wrapper.error .redirectWrapper{max-width:80%;
margin-left:auto;
margin-right:auto;
display:flex;
flex-flow:row nowrap;
justify-content:space-around;
margin-bottom:60px}#wrapper.error .redirectWrapper::after{clear:both;
content:"";
display:table}#wrapper.error .redirectWrapper .error_choice{flex:auto}#wrapper.error .error_link{text-decoration:underline}#wrapper.error a{padding:15px;
color:black}#wrapper.error a:hover{background-color:#00AEEF;
color:white}#wrapper.error a i{margin:0 15px 0 15px}#wrapper.error .error_choice_mobile{display:none}.slideout-menu{display:none;
margin-top:50px;
z-index:0;
background-color:#333;
x-font-family:sans-serif}.slideout-menu .searchbar-mobile{display:block;
margin:10px;
height:30px;
width:230px;
background-color:white;
border-radius:20px;
display:-webkit-box;
display:-moz-box;
display:box;
display:-webkit-flex;
display:-moz-flex;
display:-ms-flexbox;
display:flex;
-webkit-box-align:center;
-moz-box-align:center;
box-align:center;
-webkit-align-items:center;
-moz-align-items:center;
-ms-align-items:center;
-o-align-items:center;
align-items:center;
-ms-flex-align:center}.slideout-menu .searchbar-mobile input{height:2%;
width:65%;
border:none;
margin-left:10px;
background-color:transparent}.slideout-menu .searchbar-mobile input:focus{border:none;
outline:0}.slideout-menu .searchbar-mobile button{font-size:1.2em;
background:transparent;
border:none;
cursor:pointer}.slideout-menu .searchbar-mobile i{font-size:1.2em;
background-color:transparent;
cursor:pointer;
position:relative;
right:10px}.slideout-menu a{display:block;
margin:0;
padding:10px 0 10px 10px;
border-bottom:1px solid #2D2D2D;
text-transform:uppercase;
letter-spacing:2px;
color:#f6f6f6}.slideout-menu a:first-of-type{border-top:1px solid #2D2D2D}.slideout-menu a.active{background-color:#00AEEF;
color:#f6f6f6}.slideout-menu a.active i{color:#f6f6f6}.slideout-menu a i{padding-right:10px;
color:#00AEEF}.slideout-menu .links{margin-top:50px}.slideout-menu .links a{text-transform:none}.slideout-menu .links i{color:#f6f6f6}@media screen and (max-width: 1280px){.nav-main .banner .menu{width:80%}.nav-main .banner .menu>div{font-size:0.8em}.nav-main .banner .menu .item{font-size:0.8em}.nav-main .banner .more{width:20%}.nav-main .banner .more .forward{display:none}.nav-main .banner .more .searchbar input{width:77%}.bigimage{width:95%;
max-width:400px;
margin:10px auto}}@media screen and (max-width: 960px){.nav-main{position:fixed;
z-index:5}.nav-main #mobilemenu{display:block !important}.nav-main #goBackToClassList{display:block !important}.nav-main .banner .menu{width:100%}.nav-main .banner .menu #home{padding-left:50px;
width:100%;
max-width:100%;
text-align:center}.nav-main .banner .menu #home.homeClassMobile{padding-left:70px}.nav-main .banner .menu .item{display:none}.nav-main .banner .more{display:none}.presentation-header{padding-top:50px}#wrapper{margin-bottom:0}.footer{display:none}.bjs-components{max-width:95%;
margin-left:auto;
margin-right:auto;
padding:0}.bjs-components::after{clear:both;
content:"";
display:table}.bjs-components .bjs-component{float:left;
display:block;
margin-right:4.8291579146%;
width:100%;
padding:0}.bjs-components .bjs-component:last-child{margin-right:0}.getting-started{max-width:95%;
margin-left:auto;
margin-right:auto;
padding:0}.getting-started::after{clear:both;
content:"";
display:table}}@media screen and (max-width: 1350px){.nav-main .banner .menu>div{font-size:0.8em}}@media screen and (max-width: 1100px){.nav-main .banner .menu>div{font-size:0.65em}}@media screen and (max-width: 960px){#whats-new{max-width:90%;
margin-left:auto;
margin-right:auto;
word-wrap:break-word}#whats-new::after{clear:both;
content:"";
display:table}#whats-new ul{padding:0 10px 0 10px;
margin:0}.whats-new-banner{padding-top:50px}}@media screen and (max-width: 960px){.classBar{display:none}#resizeBar{display:none}.classContent{padding-top:50px;
margin:0;
width:100%;
position:inherit;
top:0;
bottom:0;
word-break:break-word}.classContent #classTitle h1{float:left;
display:block;
margin-right:4.8291579146%;
width:100%;
margin-bottom:0}.classContent #classTitle h1:last-child{margin-right:0}.classContent #classTitle #selectList{float:left;
display:block;
margin-right:4.8291579146%;
width:100%;
margin:10px 0}.classContent #classTitle #selectList:last-child{margin-right:0}.classContent #classMd h2 a,.classContent #classMd h3 a{padding:0;
margin:0;
visibility:initial}.classContent #classMd h2 a.permalink,.classContent #classMd h3 a.permalink{display:none}.classContent #classMd h2 a.invisible,.classContent #classMd h3 a.invisible{visibility:initial}.classContent #classMd h1,.classContent #classMd h2,.classContent #classMd h3,.classContent #classMd h4,.classContent #classMd h5,.classContent #classMd h6{margin-left:5px}.classContent #classMd h2{margin-top:10px;
padding-bottom:0px;
border-bottom:0px solid #DCDCDC}.classContent #classMd h2 a,.classContent #classMd h3 a{margin:0px 5px}.classContent #classMd h2 a.invisible,.classContent #classMd h3 a.invisible{visibility:hidden}.classContent #classMd h4{margin-left:0px;
font-weight:600}.classContent #classMd table{text-align:left;
margin-left:0px}.classContent #classMd table thead tr{background-color:#F1F1F1}.classContent #classMd table thead tr th{padding:3px 11px;
border:2px solid #DCDCDC}.classContent #classMd table tbody tr td{padding:3px 11px;
border:2px solid #DCDCDC}.classContent #classMd table tbody tr:nth-child(2n){background-color:#F8F8F8}.classContent #classMd p{margin-left:0px}}@media screen and (max-width: 1280px){#classes_classesListByAlpha{-webkit-column-count:3;
-moz-column-count:3;
column-count:3}}@media screen and (max-width: 960px){#classes_classesListByAlpha{-webkit-column-count:2;
-moz-column-count:2;
column-count:2}#classes_classesListByTag{width:100%}.whats-new-banner{padding-top:50px}}@media screen and (max-width: 610px){#classes_classesListByAlpha{max-width:95%;
margin-left:auto;
margin-right:auto;
-webkit-column-count:1;
-moz-column-count:1;
column-count:1}#classes_classesListByAlpha::after{clear:both;
content:"";
display:table}}@media screen and (max-width: 1280px){.statics-content .fileList{max-width:100%;
margin-left:auto;
margin-right:auto}.statics-content .fileList::after{clear:both;
content:"";
display:table}}@media screen and (max-width: 960px){.statics-banner{padding-top:50px}}@media screen and (max-width: 960px){.static-content{max-width:95%;
margin-left:auto;
margin-right:auto}.static-content::after{clear:both;
content:"";
display:table}}.search-content{word-break:break-all}@media screen and (max-width: 960px){.search-content{word-break:break-all}.searchplaygroundbar{width:100%;
text-align:center;
display:block}}@media screen and (max-width: 960px){#wrapper.error .error_message{padding-top:50px;
font-size:5.1em;
margin:0}#wrapper.error .error_choice_mobile{display:inherit;
text-align:center;
padding:0;
flex:auto}#wrapper.error .error_choice_mobile i{font-size:3.1em}#wrapper.error .error_choice{display:none}#wrapper.error a:hover{background-color:white;
color:#00AEEF}}
/*# sourceMappingURL=main.css.map */


;

