docsets/Pythonista/*.tgz filter=lfs diff=lfs merge=lfs -text
docsets/Pythonista/versions/*/*.tgz filter=lfs diff=lfs merge=lfs -text
docsets/Editorial/*.tgz filter=lfs diff=lfs merge=lfs -text
docsets/Editorial/versions/*/*.tgz