<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>tailwindcss</string>
    <key>CFBundleName</key>
    <string>Tailwind CSS</string>
    <key>DocSetPlatformFamily</key>
    <string>tailwindcss</string>
    <key>dashIndexFilePath</key>
    <string>tailwindcss.com/docs/installation.html</string>
    <key>DashDocSetFallbackURL</key>
    <string>https://</string>
    <key>DashDocSetPlayURL</key>
    <string>https://play.tailwindcss.com/</string>
    <key>isJavaScriptEnabled</key>
    <true/>
    <key>isDashDocset</key>
    <true/>
    <key>DashDocSetFamily</key>
    <string>dashtoc</string>
    <key>DashDocSetDeclaredInStyle</key>
    <string>originalName</string>
</dict>
</plist>