<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
     <key>CFBundleIdentifier</key>
     <string>clang</string>
     <key>CFBundleName</key>
     <string>Clang C++ API</string>
     <key>DocSetPlatformFamily</key>
     <string>clang</string>
     <key>DashDocSetFamily</key>
     <string>doxy</string>
     <key>dashIndexFilePath</key>
     <string>annotated.html</string>
     <key>isJavaScriptEnabled</key><false/>
     <key>DashDocSetFallbackURL</key>
     <string>https://clang.llvm.org/doxygen/</string>
</dict>
</plist>
