<?xml version="1.0" encoding="UTF-8"?><plist version="1.0"><dict><key>CFBundleIdentifier</key><string>java</string><key>CFBundleName</key><string>Java</string><key>DocSetPlatformFamily</key><string>java</string><key>dashIndexFilePath</key><string>overview-summary.html</string><key>DashDocSetFamily</key><string>java</string><key>isDashDocset</key><true/></dict></plist>