<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>CouchDB</string>
	<key>CFBundleName</key>
	<string>CouchDB 1.4</string>
	<key>DocSetPlatformFamily</key>
	<string>CouchDB</string>
	<key>DocSetPubliserName</key>
	<string>Stephen Benner</string>
	<key>dashIndexFilePath</key>
	<string>index.html</string>
	<key>isDashDocset</key>
	<true/>
</dict>
</plist>
