.type {
	background: #F2F3F5;
	font-family: monospace;
	padding: 4px;
	outline: 1px solid #DDD;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.params, .return, .examples {
	padding: 10px;
	background: #F7F8FA;
	outline: 1px solid #DDD;
	margin-bottom: 35px;
}

.param {
		margin-top: 5px;
		margin-bottom: 5px;
}
.entry {
	color: #FD7D44;
}
.brief {
	color: #777;
}

.index {
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: #286BEB;
}