<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>spigotmc-1.10.2</string>
	<key>CFBundleName</key>
	<string>SpigotMC-1.10.2</string>
	<key>DashDocSetFallbackURL</key>
	<string>https://hub.spigotmc.org/javadocs/bukkit/</string>
	<key>DashDocSetFamily</key>
	<string>java</string>
	<key>DashDocSetKeyword</key>
	<string>spigot</string>
	<key>DashDocSetPluginKeyword</key>
	<string>spigot</string>
	<key>DashWebSearchKeyword</key>
	<string>spigot</string>
	<key>DocSetPlatformFamily</key>
	<string>usercontribSpigotMC</string>
	<key>dashIndexFilePath</key>
	<string>index.html</string>
	<key>isDashDocset</key>
	<true/>
	<key>isJavaScriptEnabled</key>
	<true/>
</dict>
</plist>
