<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>App Engine Python SDK</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.gae-python</string>
	<key>CFBundleVersion</key>
	<string>v1.9.6 rev.445</string>
	<key>DocSetFeedName</key>
	<string>Google App Engine Python</string>
	<key>DocSetPublisherIdentifier</key>
	<string>com.google.gae-python</string>
	<key>DocSetPublisherName</key>
	<string>tzmartin</string>
	<key>DashDocSetFamily</key>
	<string>gae-python</string>
	<key>dashIndexFilePath</key>
	<string>index.html</string>
	<key>DocSetPlatformFamily</key>
	<string>gae</string>
</dict>
</plist>
