 <?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"> <plist version="1.0"> <dict>     <key>CFBundleIdentifier</key>     <string>iPython</string>     <key>CFBundleName</key>     <string>iPython</string>    <key>DocSetPlatformFamily</key>    <string>iPython</string>    <key>isDashDocset</key>    <true/>    <key>isJavaScriptEnabled</key>    <true/>    <key>dashIndexFilePath</key>    <string>ipython.readthedocs.org/en/master/index.html</string></dict></plist>