<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>nengo</string>
	<key>CFBundleName</key>
	<string>nengo</string>
	<key>DashDocSetFallbackURL</key>
	<string>https://www.nengo.ai/nengo/</string>
	<key>DashDocSetFamily</key>
	<string>python</string>
	<key>DocSetPlatformFamily</key>
	<string>nengo</string>
	<key>dashIndexFilePath</key>
	<string>docs/_build/index.html</string>
	<key>isDashDocset</key>
	<true/>
	<key>isJavaScriptEnabled</key>
	<true/>
</dict>
</plist>
