<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>glut3</string>
	<key>CFBundleName</key>
	<string>glut3.0</string>
	<key>DocSetPlatformFamily</key>
	<string>glut3</string>
	<key>isDashDocset</key>
	<true/>
	<key>dashIndexFilePath</key>
	<string>www.opengl.org/resources/libraries/glut/spec3/spec3.html</string>

</dict>
</plist>
