<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>discord.py</string>
	<key>CFBundleName</key>
	<string>discord.py</string>
	<key>DashDocSetFamily</key>
	<string>python</string>
	<key>DocSetPlatformFamily</key>
	<string>discord.py</string>
	<key>isDashDocset</key>
	<true/>
	<key>isJavaScriptEnabled</key>
	<false/>
	<key>DashDocSetFallbackURL</key>
	<string>https://discordpy.readthedocs.io/en/stable/</string>
</dict>
</plist>
