<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleName</key><string>ns-3</string>
		<key>CFBundleIdentifier</key><string>org.nsnam.ns3</string>
		<key>DocSetPlatformFamily</key><string>ns3</string>
		<key>dashIndexFilePath</key><string>modules.html</string>
		<key>DashDocSetFallbackURL</key><string>https://www.nsnam.org/docs/release/3.26/doxygen/index.html</string>
		<key>isJavaScriptEnabled</key><true/>
	</dict>
</plist>
