/* CSS stuff to hide the damn sidebar in rtd theme for Dash */

/* Why didn't I just alabaster theme? Because I want it to look pretty */

/* This hides the search bar and the github star below it */
.wy-side-nav-search{
    display: none;
}

.wy-nav-side{
    display: none;  /*This hides the sidebar but leaves empty space*/
}

/* This takes care of the bad left margin after the above */
.wy-nav-content-wrap {
    margin-left: auto;
    margin-right: auto;
}

/* This deletes the login and models buttons in top right */
div.menu {
    display: none;
}
