# ApiGen Config Options for WooCommerce Docset
#
# Note: As of ApiGen 2.8 relative paths cannot be used, see:
# https://github.com/apigen/apigen/issues/135

title:
	WooCommerce

source:
	/Users/<username>/Sites/example.dev/wp-content/plugins/woocommerce

destination:
	/Users/<username>/Desktop/WooCommerce

templateConfig:
	/usr/local/src/apigen/templates/bootstrap/config.neon

groups:
	auto

tree:
	yes

exclude:
	- */i18n/*
	- */includes/gateways/*
	- */includes/libraries/*
