<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isJavascriptEnabled</key>
	<string>YES</string>
	<key>DashDocSetKeyword</key>
	<string>spigot</string>
	<key>DashDocSetPluginKeyword</key>
	<string>spigot</string>
	<key>DashWebSearchKeyword</key>
	<string>spigot</string>
	<key>CFBundleIdentifier</key>
	<string>spigotmc-1.12.2</string>
	<key>CFBundleName</key>
	<string>SpigotMC-1.12.2</string>
	<key>DocSetPlatformFamily</key>
	<string>usercontribSpigotMC</string>
	<key>dashIndexFilePath</key>
	<string>overview-summary.html</string>
	<key>DashDocSetFamily</key>
	<string>java</string>
	<key>isDashDocset</key>
	<true/>
	<key>DashDocSetFallbackURL</key>
	<string>https://hub.spigotmc.org/javadocs/spigot/</string>
</dict>
</plist>
